@font-face {
    font-family: "Spiegel";
    src: url(../fonts/Spiegel-Regular.woff) format("woff");
}
@font-face {
    font-family: "FF Mark";
    src: url(../fonts/FF-Mark.woff2) format("woff2");
}

@font-face {
    font-family: "FF Mark";
    src: url(../fonts/FF-Mark.woff2) format("woff2");
}

@font-face {
    font-family: "Beaufort";
    src: url(../fonts/BeaufortforLOL-Bold.woff) format("woff");
}

// @font-face {
//     font-family: "Futura-Dem";
//     src: url(../fonts/Futura-Dem.woff) format("woff");
// }

// @font-face {
//     font-family: "Futura-Boo";
//     src: url(../fonts/Futura-Boo.woff) format("woff");
// }

// @font-face {
//     font-family: "Gramatika Bold";
//     src: url(../fonts/GramatikaBold.woff2) format("woff2");
// }

// @font-face {
//     font-family: "Sofia Pro";
//     src: url(../fonts/SofiaProSoftRegular.woff2) format("woff2");
// }

// @font-face {
//     font-family: "Abril Fat";
//     src: url(../fonts/AbrilFatface-Regular.ttf) format("truetype");
// }
