$progressBarIntroWidth: 25%;
$progressBarWidth: 75%;
.chooseChampionContainer {
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.chooseChampionTextWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    .chooseChampionText,
    .chooseChampionDescText {
        margin: 0;
        font-size: 1.5rem;
        padding: 0 4rem;
        text-align: center;
        @media screen and (min-width: $md_breakpoint) {
            padding: 0 10rem;
        }
        @media screen and (min-width: $lg_breakpoint) {
        }
    }
    .chooseChampionText {
        text-align: center;
        font-style: italic;
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.6rem;
        @media screen and (min-width: $lg_breakpoint) {
            font-size: 1.8rem;
        }
        letter-spacing: 0.1rem;
    }
}

.championBold {
    display: block;
    font-size: 5rem;
    font-weight: bold;
    font-family: "Beaufort";

    @media screen and (min-width: $md_breakpoint) {
        font-size: 8rem;
    }
    @media screen and (min-width: $lg_breakpoint) {
        margin-top: -2rem;
        font-size: 10rem;
    }
}

.championRoleAndSpotlightWrap {
    width: 100%;
    margin-top: 30rem;
    @media screen and (min-width: $lg_breakpoint) {
        margin-top: 0;
        display: flex;
        align-items: center;
    }
}
.roleContainer {
    position: relative;
    display: flex;
    width: 100%;
    // height: 1rem;
    @media screen and (min-width: $lg_breakpoint) {
        width: 50%;
    }
    .progressBarIntro {
        position: absolute;
        height: 0.1rem;
        background-color: black;
        @media screen and (min-width: $lg_breakpoint) {
            width: $progressBarIntroWidth;
        }
        width: 0%;
        left: 0;
    }
    .progressBar {
        position: absolute;
        width: 100%;
        @media screen and (min-width: $lg_breakpoint) {
            left: $progressBarIntroWidth;
            width: 82%;
        }
        @media screen and (min-width: 1050px) {
            width: 83%;
        }

        @media screen and (min-width: 1100px) {
            left: $progressBarIntroWidth;
            width: 85.5%;
        }
        @media screen and (min-width: 1150px) {
            width: 86.5%;
        }
        @media screen and (min-width: $xl_breakpoint) {
            left: $progressBarIntroWidth;
            width: 81.5%;
        }
        height: 0.1rem;
        background-color: grey;
    }
}

.championSpotlightContainer {
    position: relative;
    width: 100%;
    height: 32rem;
    @media screen and (min-width: $sm_breakpoint) {
        height: 42rem;
    }
    @media screen and (min-width: $md_breakpoint) {
        height: 52rem;
    }
    @media screen and (min-width: $lg_breakpoint) {
        width: 50%;
        height: 52rem;
    }
    @media screen and (min-width: $xl_breakpoint) {
        width: 50%;
        height: 78rem;
    }

    img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        @media screen and (min-width: $lg_breakpoint) {
            width: 100%;
            left: 0;
            transform: translateX(0%);
            // left: 4.5rem;
        }

        height: 100%;

        object-fit: cover;
    }
}

.dot {
    position: absolute;
    width: 75%;
    height: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background: yellow;
    left: $progressBarIntroWidth;
    top: 0;
    cursor: pointer;
    &:before {
        content: "";
        background: blue;
        cursor: pointer;
        width: 1.2rem;
        height: 1.2rem;
        position: absolute;
        top: -0.5rem;
        left: 0;
        // left: 50%;
        // top: 50%;
        // transform: translate(-50%, -50%);
        border-radius: 50%;
        z-index: 1;
    }
}

.progressControl {
    position: relative;
    left: $progressBarIntroWidth;
    width: calc(75% / 4);
    cursor: pointer;
    height: 10rem;
    top: -8.8rem;

    &:before {
        content: "";
        background: red;
        cursor: pointer;
        width: 1.2rem;
        height: 1.2rem;
        position: absolute;
        // left: 50%;
        // top: 50%;
        // transform: translate(-50%, -50%);
        bottom: 0.5rem;
        left: 0;
        border-radius: 50%;
        z-index: 1;
    }

    .championIconAndRoleWrap {
        display: inline-block;
        // background: green;
        position: relative;
        left: -1.5rem;
        @media screen and (min-width: $sm_breakpoint) {
            left: -2.25rem;
        }
        @media screen and (min-width: $md_breakpoint) {
            left: -2.25rem;
        }
        @media screen and (min-width: $lg_breakpoint) {
            left: -2rem;
        }
        // @media screen and (min-width: $xl_breakpoint) {
        //     left: -12rem;
        // }
        // transform: translateX(-50%);

        .iconRole {
            width: 100%;
            height: 100%;
        }
        .roleText {
            margin-top: 2rem;
            font-size: 0.8rem;
            @media screen and (min-width: $sm_breakpoint) {
                font-size: 1.1rem;
            }
            text-align: left;
            width: 100%;
            font-weight: 400;
            color: grey;
            transition: all 0.2s ease;
            text-transform: uppercase;
            letter-spacing: 0.1rem;

            // &:hover {
            //     color: black;
            //     transition: all 0.2s ease;
            // }
        }
    }
}

.iconRoleWrap {
    margin: 0 auto;
    width: 2.5rem;
    height: 2.5rem;
}

.iconSelectedRole {
    position: absolute;
    top: -3.5rem;
    left: 50%;
    width: 7rem;
    height: 7rem;
    transform: translateX(-50%);
    fill: rgb(195, 144, 49);
}

.spotlightCircleSvg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    svg {
        width: 100%;
        height: 100%;
    }
}
.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 0.4;
}

.circle {
    fill: none;
    stroke-width: 0.4;
    stroke-linecap: round;
    animation: progress 2s ease forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.blue .circle {
    stroke: rgb(195, 144, 49);
}

.whiteBox {
    width: 100%;
    position: absolute;
    bottom: 50%;

    background-color: white;
    height: 6rem;
    @media screen and (min-width: $lg_breakpoint) {
        height: 10rem;
    }
    transform: rotate(45deg) translate3d(0px, 0px, 0px);
    z-index: 1;
}

.championSpotlightName {
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    bottom: -4rem;
    font-size: 1.5rem;
}

.showImage {
    display: block;
}
.hideImage {
    display: none;
}
