.modal {
    // pointer-events: none;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalBox {
    position: relative;
    cursor: initial;

    background: #212121;
    height: 100%;
    width: 28rem;
    overflow: hidden;

    h2 {
        display: none;
    }
    .modalCloseIcon {
        cursor: pointer;
        position: absolute;
        top: 1rem;
        left: 1rem;
        z-index: 1;
        font-size: 2rem;
        color: white;
    }
}

.centerLoadingForModal {
    display: flex;
    justify-content: center;
    align-items: center;
}
